@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root {
  --sidebar-flex: 1.2;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway';
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav {
  padding: 50px 0px 0px 0px;
  flex: var(--sidebar-flex);
  background: rgb(62, 97, 94);
  background: linear-gradient(180deg, rgba(62, 97, 94, 1) 50%, rgb(12, 41, 95) 80%);
}

.condiv {
  padding: 50px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilepic {
  width: 70px;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li {
  margin: 40px;
}

#logoutfont {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: var(--fontsize-p);
}

h1 {
  margin-top: 5px;
  padding-top: 0px;
  font-size: 24px;
  text-decoration: underline;
}

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color: #ffffff;
}

.active {
  font-weight: bolder;
}

label {
  box-sizing: border-box;
  align-self: flex-start;
  font-weight: bold;
}

.instructions {
  font-weight: normal;
  font-style: italic;
}

button {
  padding: 7px 10px;
  background-color: #3e615e;
  color: #f4f5f9;
  border: none;
  align-self: flex-end;
}

textarea {
  width: 100%;
  height: 100px;
}

input {
  width: 100%;
}

.centerText {
  align-self: center;
}

@media all and (max-width: 768px) {
  :root {
    --fontsize-nav: 1rem;
    --sidebar-flex: 0;
    --typing-font: 2rem;
  }
  .App {
    flex-direction: column;
  }

  .condiv {
    padding: 10px;
  }
  nav {
    padding: 0px;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    margin: 10px;
  }
  .social {
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 10px;
  }
  .social i {
    padding-right: 0px;
  }
  .profilepic {
    display: none;
  }
  h1 {
    font-size: 16px;
    margin: 5px;
  }
  label {
    font-size: 12px;
    display: block;
  }
  button {
    font-size: 10px;
  }
}